<div class="page row">
  <div class="col s12">
    <div class="page-card card">
      <div class="card-content">
        <div class="page-content">
          <h2 class="header"><%=raw @page.title %></h2>
          <%=raw @page.content_for(:body) %>
        </div>
      </div>
    </div>
  </div>
</div>
