<div class="page row">
  <div class="col s12 page-content">
     <h2 class="header"><%=raw @page.title %></h2>
     <%=raw @page.content_for(:body) %>
     <%=raw @page.content_for(:side_body) %>
  </div>
</div>
