<% if @posts.many? %>
  <div class="blog-side-section">
    <div class="blog-side-card">
      <div class="blog-side-card-content">
        <div class="blog-side-card-title">
          <h4><%= t('.other') %></h4>
        </div>
        <ul id="blog_posts">
          <% @posts.each do |blog_post| %>
            <li class='clearfix'>
              <%= link_to blog_post.title, refinery.blog_post_path(blog_post) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
