<% menu = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self) %>
<header>
  <nav class="top-bar" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><%=Refinery::Core::site_name %></a>
      <%= menu.to_html %>
      <a href="#" data-activates="nav-mobile" class="right button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>
