/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import "materialize";

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.top-bar {
  @extend .light-blue, .text-lighten-1;
}

.page {
  padding-top: 35px;
}

.page-card {
  @extend .light-blue, .lighten-4;
}

.page-content > p {
  @extend .flow-text;
}

#social-icons {
  display: inline;
}

.social-padding {
  display: inline;
  padding: 3px;
}

.social-btn {
  @extend .white;
}

.social-icon {
  @extend .orange-text;
}

.bottom-bar {
  @extend .orange, .center-align;
}