<ul class="resume-section table-of-contents">
  <h5 class="resume-heading">Resume</h5>
  <li><a href="https://github.com/Towerism/resume/raw/master/fracker-martin-resume.pdf">PDF Version</a></li>
  <li><a href="https://github.com/Towerism/resume/raw/master/fracker-martin-resume.txt">Text Version</a></li>
</ul>
