<div class="resume-dropdown">
  <a class='dropdown-button waves-effect waves-light resume-button' href='#' data-activates='dropdown-resume'>Resume</a>
</div>

<ul id='dropdown-resume' class='dropdown-content'>
  <li><a href="https://github.com/Towerism/resume/raw/master/fracker-martin-resume.pdf">PDF Version</a></li>
  <li><a href="https://github.com/Towerism/resume/raw/master/fracker-martin-resume.txt">Text Version</a></li>
  <li class="divider"></li>
</ul>
