<% btn_classes =
  "white btn-large btn-floating 
   waves-effect orange-text mdi mdi-36px" %>

<div id="social-icons">
  <div class="social-btn">
    <a href="http://www.github.com/towerism">
      <i class="<%= btn_classes %> mdi-github-circle"></i>
    </a>
  </div>

  <div class="social-btn">
    <a href="http://www.linkedin.com/in/martinfrackerjr">
      <i class="<%= btn_classes %> mdi-linkedin"></i>
    </a>
  </div>

  <div class="social-btn">
    <a href="http://www.facebook.com/martin.fracker">
      <i class="<%= btn_classes %> mdi-facebook"></i>
    </a>
  </div>
</div>
