<div id="social-icons">
  <%= social_button("http://www.github.com/towerism",
                    "fa-github") %>
  <%= social_button("http://www.linkedin.com/in/martinfrackerjr",
                    "fa-linkedin") %>
  <%= social_button("http://www.facebook.com/martin.fracker",
                    "fa-facebook") %>
</div>
